* {
    margin: 0;
}

.content {
    margin: 0 auto;
    width: 700px;
    justify-content: center;
}

.content div {
    width: 60px;
    padding: 20px 0;
    background-color: darkgrey;
    display: inline-block;
    text-align: center;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
}